<button pButton type="button" label="Click" ></button>
<p-button label="Click" ></p-button>

<button pButton type="button" icon="pi pi-check" iconPos="left"></button>
<p-button label="Click" icon="pi pi-check" iconPos="left"></p-button>

<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home Page</a></li>
    <li><a routerLink="/schedule" routerLinkActive="active" ariaCurrentWhenActive="page">Schedule</a></li>
    <li><a routerLink="/standings" routerLinkActive="active" ariaCurrentWhenActive="page">Standings</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>